
@use './variables' as *;
// add the font mixins like page header, section header, etc. 

// make sure to convert all px to rems


@mixin mobile-text-header {
  font-size: 24px;
  line-height: 32px;
  // font-family: 'AvenirNextLTPro Bold';
  // font-weight: bold;
}

@mixin mobile-body-footer-copy {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}








@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }