@font-face {
    font-family: "AvenirNextLTPro";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"),
        url("../../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"),
        url("../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"),
        url("../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}