// @use './typography' as *;
@import './typography';

$font-stack: 'Avenir Next', sans-serif;

//the color variables
$primary-color-1: #323232; //bandsite-black
$primary-color-2: #AFAFAF; //silver
$primary-color-3: #FFF; //white

$secondary-color-1: #000; //BandSite-DarkBlack
$secondary-color-2: #E1E1E1; //mercury
$secondary-bg-color: #FAFAFA; //Alabaster

//breakpoint variables 
$tablet-width: 768px;
$desktop-width: 1280px; 

