// @use './typography' as *;
//  @use 'typography' as *;

// @use 'typography';

@use './typography' as *;

$font-stack: "AvenirNextLTPro", sans-serif; 

// add the color variables
$primary-color-1: #323232; //bandsite-black
$primary-color-2: #AFAFAF; //silver
$primary-color-3: #FFF; //white

$secondary-bg-color: #FAFAFA; //Alabaster
// add breakpoint variables 

$tablet-width: 768px;
$desktop-width: 1280px; 