// @use './partials/variables' as *;
// @use './partials/mixins' as *;

@use './partials/variables' as *; //the bio.scss is outside of the partials folder
@use './partials/mixins' as *; 

html {
    // padding: 0;
    // margin: 0;
    // font-size: 100%;
    
}

// use BEM and nesting

body {
    font: 100% $font-stack;
    color: $primary-color-1;
    // padding: 0;
    margin: 0;
}

.header


.logo {
    min-height: 20px;
    min-width: 120px;
}