@import './partials/variables';
@import './partials/mixins';

body {
    padding: 0;
    margin: 0;
    font: 100% $font-stack;
}

p {
    margin-top: 0;
}

.header {
    &-bg {
        @include desktop {
            background-color: $primary-color-1;
            padding-top: 0.5rem;
        }
    }

    display: flex;
    flex-direction: column;
    background-color: $primary-color-1;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    @include desktop {
        @include desktop-container;
    }

    & nav {
        text-align: center;
        display: flex;

        @include tablet {
            padding-left: 1.5rem;
        }
    }

    &__nav-link {
        color: $primary-color-3;
        text-decoration: none;
        padding: 1rem;
        margin: 0 auto;
        width: 50%;

        @include tablet {
            display: flex;
            align-items: center;
            padding-left: 1.5rem;
        }

        &--active {
            border-bottom: 0.25rem solid $primary-color-3;
            font-weight: bold;

            @include tablet {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0.8125rem;
            }
        }

        &--inactive {
            color: $secondary-color-2;

            @include tablet {
                padding-left: 2rem;
            }

            &:hover {
                @include tablet {
                    margin-left: 2rem;
                }

                transition: border-bottom 0.2s;
            }
        }

        &:hover {
            @extend .header__nav-link--active;
            color: $primary-color-3;
        }
    }
}

.logo {
    &-container {
        margin: 0 auto;
        padding: 1rem;

        @include tablet {
            margin: 0;
            padding: 2.25rem;
        }

        @include desktop {
            padding-left: 0;
        }
    }

    height: 1.25rem;
    width: 7.5rem;
}

.img {
    &-container {
        padding: 1rem 1rem 0;

        &--spacing {
            padding-top: 0;
        }

        &--gallery-1 {
            padding-top: 0;
        }

        &--gallery-9 {
            padding-bottom: 1rem;
        }
    }

    max-width: 100%;
    height: auto;
}

/* hero code taken from https://stackoverflow.com/questions/47155757/text-without-opacity-within-a-container-with-opacity */

.hero {
    &-container {
        position: relative;
    }

    &-text-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-color-1, $alpha: 0.5);
    }

    &__text {
        @include mobile-text-header;
        color: $primary-color-3;
        padding-left: 1rem;
        margin: 0;

        @include tablet {
            @include tablet-page-header;
            padding-left: 2.25rem;
        }

        @include desktop {
            @include desktop-container;
        }
    }

    &__img {
        background-image: url("../assets/images/hero-bio.jpg");
        max-width: 100%;
        height: 67vw; //aspect ratio is 1.5:1 so I divide 1 by 1.5 to get 67%, so height is 67% of vw
        background-size: cover;
    }
}

.about-musicians {
    &-desktop {
        @include desktop {
            @include desktop-container;
        }
    }

    &-container {
        @include tablet {
            padding-left: 4.5rem;
            padding-right: 4.5rem;
        }
    }
}

.section-header {
    @include mobile-text-header;
    margin: 0;
    padding: 1.5rem 1rem 1rem;
    color: $primary-color-1;

    @include tablet {
        @include tablet-section-header;
        padding: 3rem 2.25rem 2.25rem;
    }
}

.quote {
    &-container {
        padding-left: 1rem;
        padding-right: 1rem;
        color: $primary-color-1;
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;

        @include tablet {
            @include tablet-subheader;
            padding-top: 2.25rem;
            padding-bottom: 0;
        }
    }

    &-wrapper {
        padding-top: 1rem;
        margin: 0;

        @include tablet {
            padding-top: 0;
        }
    }

    margin-top: 0;
    margin-bottom: 0;

    &-attribution {
        padding-top: 0.5rem;
        margin-top: 0;
        margin-bottom: 0;
        word-spacing: 0.063rem;

        @include tablet {
            @include tablet-subheader;
            font-size: 1rem;
        }
    }
}

.article {
    &-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__header {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: normal;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin: 0;

        @include tablet {
            @include tablet-subheader;
            padding-top: 3rem;
            padding-bottom: 2.25rem;
        }
    }

    &__body {
        @include mobile-body-footer-copy;
        color: $primary-color-1;

        &--paragraph-one {
            margin-top: 0;

            @include tablet {
                margin-right: 1rem;
            }
        }

        &--paragraph-two {
            margin-bottom: 1rem;

            @include tablet {
                margin-left: 1rem;
            }
        }

        @include tablet {
            @include tablet-body-copy;
            display: flex;
        }

        @include desktop {
            margin-bottom: 1rem;
        }
    }
}

.photo-gallery-bg {
    background-color: $secondary-bg-color;

    @include desktop {
        @include desktop-container;
    }

    &-desktop {
        @include desktop {
            background-color: $secondary-bg-color;
            padding-bottom: 0.5rem;
        }
    }
}

.gallery {
    &-container {
        @include tablet {
            margin: 0 2.25rem 2.25rem;
        }
    }

    &-wrapper {
        @include tablet {
            display: flex;
        }

        .img {
            &-container {
                @include tablet {
                    padding: 0;
                    margin: 0.5rem;
                }
            }

            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%);
            }
        }


    }
}

.footer {
    @include mobile-body-footer-copy;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $primary-color-3;
    background-color: $primary-color-1;

    @include tablet {
        @include tablet-footer-copy;
        padding: 3rem 2.25rem 2.25rem;
    }

    @include desktop {
        @include desktop-container;
    }

    &-container-desktop {
        @include desktop {
            background-color: $primary-color-1;
        }
    }

    &-heading-icon-wrapper {
        width: max-content; //to keep icons contained within content width of footer heading
        display: flex;
        flex-direction: column;
        margin-bottom: -0.625rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }

        @include desktop {
            margin-left: 2.25rem;
        }
    }

    &__heading {
        @include mobile-text-header;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin: 0;
        display: flex;

        @include tablet {
            @include tablet-section-header;
            padding-top: 0;
            padding-bottom: 2.25rem;
            margin-right: 1.5rem;
        }
    }

    &-icon-wrapper {
        display: flex;
        justify-content: space-between;

        @include tablet {
            position: absolute;
            left: 33.5%;
            padding-bottom: 2.25rem;
        }
    }

    &__icon-link {
        text-decoration: none;

        @include tablet {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }

    &-agents-container {
        @include tablet {
            display: flex;
            position: relative;
        }

        @include desktop {
            margin-left: 2.25rem;
        }
    }

    &__subheader {
        @include mobile-body-footer-copy;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1.5rem;

        @include tablet {
            @include tablet-footer-copy;
            font-weight: bold;
            padding-top: 0;
        }
    }

    &-agent-america {
        @include tablet {
            position: absolute;
            left: 32.5%;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }

    &-agent-uk {
        @include tablet {
            position: absolute;
            left: 68%;
        }
    }

    &__copyright {
        margin-bottom: 0;
        padding-bottom: 1rem;

        @include tablet {
            padding-bottom: 0;
        }

        @include desktop {
            margin-left: 2.25rem;
        }
    }

    &__agent-title {
        margin-top: 0;
        font-weight: bold;
    }

    &__agent-email-link {
        text-decoration: none;
        color: $primary-color-3;
    }

    &__logo {
        margin-top: 3rem;
        margin-bottom: 1rem;
        height: 1.25rem;
        width: 7.5rem;

        &-tablet {
            visibility: hidden;
            margin: 0;

            @include tablet {
                visibility: visible;
                position: absolute;
                right: 5%;
                margin: 0;
                padding-bottom: 2.25rem;
            }

            @include desktop {
                right: 12.7%;
            }
        }

        &-mobile {
            @include tablet {
                visibility: hidden;
                margin: 0;
            }
        }
    }
}

.icon-spacing {
    position: relative;
    right: 0.9375rem;
}