@import './bio.scss'; 



 .header {
    &__nav-link {
        color: $primary-color-3;
        text-decoration: none;
        padding: 16px;
        margin: 0 auto;
        width: 50%;

        @include tablet {
            display: flex;
            align-items: center;
            padding-left: 24px;
        }

        &--active {
            border-bottom: 4px solid $primary-color-3;
            font-weight: bold;

            @include tablet {

                padding-left: 0;
                padding-right: 0;
                padding-top: 6px;
                padding-bottom: 0;
                margin-left: 36px;
                margin-right: 16px;
            }
        }

        &--inactive {
            color: $secondary-color-2;

            @include tablet {
                padding-left: 0;
                padding-right: 0;
                margin-left: 5px;
                margin-right: 5px;
                padding-bottom: 13px;
                // overflow: hidden;
            }

            &:hover {
                @include tablet {
                    margin-left: 3px;
                    margin-right: 3px;
                }

                transition: border-bottom 0.2s;
            }
          
        }

        &:hover {
            @extend .header__nav-link--active;
            color: $primary-color-3;
        }
        // &:hover:before {
        //     font-weight: bold;
        //     height: 0;
        //     overflow: hidden;
        //     visibility: hidden;
        // }
    }
 }

.hero {

    &-text-wrapper{
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-around;
        @include desktop {
            flex-direction: row;
            align-items: center;
        }
       
    }
    &__title {
        font-size: 16px;
        line-height: 22px;
        color: $primary-color-3;
        font-weight: 600;
        // align-self: flex-start;
        padding-left: 16px;
        padding-top: 16px;
        margin-bottom: 0;
        @include tablet {
            @include tablet-subheader;
            padding-left: 36px;
            margin-top: 24px;
        }

       
    }

    &__text {
        @include desktop {
            margin: 0;
            width: 100%;
        }
    }
    
    &__img {
        background-image: url("../assets/images/hero-shows.jpg");
    }

    &__sound {
        width: 90%;
        // height: 35%;
        height: 100px;
        padding-left: 16px;
        padding-bottom: 24px;
        @include tablet {
            width: 60%;
            padding-left: 36px;
        }
        @include desktop {
            width: 35%;
            height: 120px;
            position: relative;
            top: 6%;
        }
    }
}


